<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error 404</title>
        <!-- Bootstrap CSS -->
        <link href="/scss/custom.css" rel="stylesheet">
    </head>
    <body>
        <!-- Bootstrap Icons -->
        <div class="text-dark">
            <div
                class="d-flex align-items-center justify-content-center min-vh-100 px-2">
                <div class="text-center">
                    <h1 class="display-1 fw-bold">404</h1>
                    <p class="fs-2 fw-medium mt-4">Oops! Pagina no encontrada</p>
                    <p class="mt-4 mb-5">La página que buscas no existe o ha sido movida.</p>
                    <a href="/"
                        class="fw-semibold rounded-pill px-4 py-2 btn btn-primary">
                        Ir a Inicio
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>